appdirs==1.4.4
asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssselect==1.2.0
distutils-pytest==0.2.1
Django==5.1.1
fake-useragent==1.5.1
gTTS==2.5.3
idna==3.8
importlib_metadata==8.4.0
iniconfig==2.0.0
lxml==5.3.0
lxml_html_clean==0.2.2
meta_ai_api==1.2.1
packaging==24.1
parse==1.20.2
pluggy==1.5.0
PyAudio==0.2.14
pydub==0.25.1
pyee==11.1.1
pyppeteer==2.0.0
pyquery==2.0.1
pytest==8.3.2
requests==2.32.3
requests-html==0.10.0
setuptools==74.1.2
soupsieve==2.6
SpeechRecognition==3.10.4
sqlparse==0.5.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
w3lib==2.2.1
websockets==10.4
zipp==3.20.1
